@font-face {
	font-family: "Raleway";
	src: url("../Assets/Fonts/Raleway-ExtraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Roboto";
	src: url("../Assets/Fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Dustfine";
	src: url("../Assets/Fonts/Dustfine-1Gn42.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Galderglynn_Titling";
	src: url("../Assets/Fonts/galderglynn\ titling\ bl.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Lemon_Milk";
	src: url("../Assets/Fonts/LEMONMILK-Bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Minecraft_Ten";
	src: url("../Assets/Fonts/Minecraft-Ten.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Product_Sans";
	src: url("../Assets/Fonts/Product\ Sans\ Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Alexandria";
	src: url("../Assets/Fonts/Alexandria-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
}

@font-face {
	font-family: "Short_Xurquit";
	src: url("../Assets/Fonts/ShortXurkit-2Xdv.ttf") format("truetype");
}

@font-face {
	font-family: "Gas";
	src: url("../Assets/Fonts/GAS.TTF") format("truetype");
}

@font-face {
	font-family: "Digital_7";
	src: url("../Assets/Fonts/digital-7.ttf") format("truetype");
}

@font-face {
	font-family: "Klarissa";
	src: url("../Assets/Fonts/Klarissa.ttf") format("truetype");
}

.Clock_Main{
    margin: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--CL-Clock-Background-Color);
    /* background-color: #27038a; */
    
    z-index: 51;
    user-select: none;
    transition: 5s;
    /* display: grid; */
    /* grid-template-rows: auto auto auto; */
}

.Clock_Main_Top{
    background-color: aliceblue;
}

.Clock_Main_Bottom{
    background-color: aqua;
}

.Clock_Main[data-id="Gradient_Transition_Start_OldToNew"]{
    animation-name: Gradient_Transition_Start_OldToNew;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

.Clock_Main[data-id="Gradient_Transition_Start_NewToOld"]{
    animation-name: Gradient_Transition_Start_NewToOld;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

@keyframes Gradient_Transition_Start_OldToNew {
    0% {
        background: var(--CL-Clock-Background-Gradient-Old);
    }
    100% {
        background: var(--CL-Clock-Background-Gradient-New);
    }
}

@keyframes Gradient_Transition_Start_NewToOld {
    0% {
        background: var(--CL-Clock-Background-Gradient-New);
    }
    100% {
        background: var(--CL-Clock-Background-Gradient-Old);
    }
}

.Clock_Main_Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.Clock_Main_Text_Hours_Digit_1{
    font-family: var(--CL-Clock-Text-Font);
    font-size: var(--CL-Clock-Text-Size);
    color: var(--CL-Clock-Text-Color-Hour-D1);
    transition: color 10s;
    pointer-events: all;
    font-weight: normal;
}

.Clock_Main_Text_Hours_Digit_2{
    font-family: var(--CL-Clock-Text-Font);
    font-size: var(--CL-Clock-Text-Size);
    color: var(--CL-Clock-Text-Color-Hour-D2);
    transition: color 10s;
    pointer-events: all;
    font-weight: normal;
}

.Clock_Main_Text_Blinker{
    font-family: var(--CL-Clock-Text-Font);
    font-size: var(--CL-Clock-Text-Size);
    color: var(--CL-Clock-Text-Color-Blinker);
    transition: color 10s;
    pointer-events: all;
    font-weight: normal;
    display: var(--CL-Clock-Text-Visibility-Blinker);
    animation-name: var(--CL-Clock-Animation-Blinker);
    animation-duration: var(--CL-Clock-Animation-Duration-Blinker);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-timing-function: var(--CL-Clock-Animation-TimingFunction-Blinker);
}

.Clock_Main_Text_Minutes_Digit_1{
    font-family: var(--CL-Clock-Text-Font);
    font-size: var(--CL-Clock-Text-Size);
    color: var(--CL-Clock-Text-Color-Minutes-D1);
    transition: color 10s;
    pointer-events: all;
    font-weight: normal;
}

.Clock_Main_Text_Minutes_Digit_2{
    font-family: var(--CL-Clock-Text-Font);
    font-size: var(--CL-Clock-Text-Size);
    color: var(--CL-Clock-Text-Color-Minutes-D2);
    transition: color 10s;
    pointer-events: all;
    font-weight: normal;
}

.Clock_Main_SettingsButton_Container{
    width: 100%;
    height: 115px;
    position: absolute;
    z-index: 50;
}

.Clock_Main_SettingsButton_Container:hover > .Clock_Main_SettingsButton{
    opacity: 100%;
}

.Clock_Main_SettingsButton{
    opacity: 0%;
    transition: var(--Element-Transition-Delay);
    position: absolute;
    top: 10px;
    left: 10px;
    width: 75px;
    height: 75px;
    background-color: var(--BG-Color-Button-General);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.Clock_Main_SettingsButton:hover{
    background-color: var(--BG-Color-Button-General-Hover);
}

.Clock_Main_SettingsButton:active{
    background-color: var(--BG-Color-Button-General-Focus);
}

.Clock_Main_SettingsButton_Icon{
    width: 51px;
    height: 51px;
    padding: 8px;
}

.Clock_Settings_FontSelector{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.Clock_Settings_FontSelector_Item{
    font-size: 50px;
    margin: 10px;
    width: 250px;
    background-color: var(--BG-Color-Button-General);
    border: solid var(--Color-Borders);
    text-align: center;
    color: white;
    user-select: none;
    cursor: pointer;
}

.Clock_Settings_FontSelector_Item:nth-child(1){
    font-family: Raleway;
}

.Clock_Settings_FontSelector_Item:nth-child(2){
    font-family: Roboto;
}

.Clock_Settings_FontSelector_Item:nth-child(3){
    font-family: Dustfine;
}

.Clock_Settings_FontSelector_Item:nth-child(4){
    font-family: Galderglynn_Titling;
}

.Clock_Settings_FontSelector_Item:nth-child(5){
    font-family: Lemon_Milk;
}

.Clock_Settings_FontSelector_Item:nth-child(6){
    font-family: Minecraft_Ten;
}

.Clock_Settings_FontSelector_Item:nth-child(7){
    font-family: Product_Sans;
}

.Clock_Settings_FontSelector_Item:nth-child(8){
    font-family: Alexandria;
}

.Clock_Settings_FontSelector_Item:nth-child(9){
    font-family: Short_Xurquit;
}

.Clock_Settings_FontSelector_Item:nth-child(10){
    font-family: Gas;
}

.Clock_Settings_FontSelector_Item:nth-child(11){
    font-family: Digital_7;
}

.Clock_Settings_FontSelector_Item:nth-child(12){
    font-family: Klarissa;
}

.Clock_Settings_Input{
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.Clock_Settings_Input_Text{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
}

.Clock_Settings_Overlay{
    position: fixed;
    z-index: 55;
    /* background-color: #8061d5; */
    width: 100%;
    height: 100%;
    display: none;
    pointer-events: all;
}

.Clock_Settings_Overlay_Top{
    background-color: var(--BG-Color-Opacitated);
    backdrop-filter: var(--Element-BackdropBlur);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Clock_Settings_Overlay_Top_Text{
    font-family: Raleway;
    margin-right: 10px;
    color: white;
}


.Clock_Settings_Overlay_BackButton{
    transition: var(--Element-Transition-Delay);
    top: 10px;
    left: 10px;
    width: 75px;
    height: 75px;
    background-color: var(--BG-Color-Button-General);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.Clock_Settings_Overlay_BackButton:hover{
    background-color: var(--BG-Color-Button-General-Hover);
}

.Clock_Settings_Overlay_BackButton:active{
    background-color: var(--BG-Color-Button-General-Focus);
}

.Clock_Settings_Overlay_BackButton_Icon{
    width: 51px;
    height: 51px;
    padding: 8px;
}

.Clock_Settings_Overlay_Top_Input_Range{
    width: 50vw;
}

.Clock_Settings_ClockPreview{
    background-color: var(--CL-Clock-Background-Color);
    width: 100%;
    height: 75px;
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 7px;
    transition: var(--Element-Transition-Delay);
}

.Clock_Settings_ClockPreview_Text_Hours_Digit_1{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Text-Color-Hour-D1);
    margin: 0;
    font-weight: normal;
    font-size: 70px;
    transition: var(--Element-Transition-Delay);
}

.Clock_Settings_ClockPreview_Text_Hours_Digit_2{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Text-Color-Hour-D2);
    margin: 0;
    font-weight: normal;
    font-size: 70px;
    transition: var(--Element-Transition-Delay);
}

.Clock_Settings_ClockPreview_Text_Blinker{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Text-Color-Blinker);
    margin: 0;
    font-weight: normal;
    font-size: 70px;
    transition: var(--Element-Transition-Delay);
    display: var(--CL-Clock-Text-Visibility-Blinker);
    animation-name: var(--CL-Clock-Animation-Blinker);
    animation-duration: var(--CL-Clock-Animation-Duration-Blinker);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-timing-function: var(--CL-Clock-Animation-TimingFunction-Blinker);
}

.Clock_Settings_ClockPreview_Text_Minutes_Digit_1{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Text-Color-Minutes-D1);
    margin: 0;
    font-weight: normal;
    font-size: 70px;
    transition: var(--Element-Transition-Delay);
}

.Clock_Settings_ClockPreview_Text_Minutes_Digit_2{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Text-Color-Minutes-D2);
    margin: 0;
    font-weight: normal;
    font-size: 70px;
    transition: var(--Element-Transition-Delay);
}

.Clock_Overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 54;
    /* background-color: bisque; */
}

.Clock_Overlay_Bottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    pointer-events: none;
    
}

.Clock_Overlay_Bottom_Battery{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Text-Color-Blinker);
    font-size: 9vh;
    margin: 0;
    font-weight: normal;
    /* animation-name: Clock_Blinker_Blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}

.Clock_Pomodoro{
    /* background-color: red; */
    width: calc(100% - 20px - 20px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    pointer-events: all;
    user-select: none;
}

.Clock_Pomodoro_Bars_Counter{
    /* background-color: beige; */
    /* height: 70px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    /* max-height: 50px; */
    align-items: end;
    /* align-self: flex-end; */
}


.Clock_Pomodoro_Bars_Counter_Item{
    /* background-color: aqua; */
    background-color: var(--CL-Clock-Pomodoro-Counter-Color-Inactive);
    background-color: var(--CL-Clock-Text-Color-Hour-D2);
    opacity: 0;
    max-height: 50px;
    height: 100%;
    /* width: fit-content; */
    /* height: 70px; */
    transition: var(--Element-Transition-Delay);
}


.Clock_Pomodoro_Bars_Counter_Item[State="Active"]{
    background-color: var(--CL-Clock-Pomodoro-Counter-Color-Active);
    background-color: var(--CL-Clock-Text-Color-Hour-D1);
    opacity: 1;
}

.Clock_Pomodoro_Status{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Clock_Pomodoro_Status_Title, .Clock_Pomodoro_Status_Remaining{
    margin: 0;
    text-align: right;
    font-weight: 300;
}

.Clock_Pomodoro_Status_Title{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Pomodoro-Status-Title-Text-Color);
    color: var(--CL-Clock-Text-Color-Hour-D1);
    font-size: 10vh;
}
.Clock_Pomodoro_Status_Remaining{
    font-family: var(--CL-Clock-Text-Font);
    color: var(--CL-Clock-Pomodoro-Status-Remaining-Text-Color);
    color: var(--CL-Clock-Text-Color-Hour-D2);
    font-size: 5vh;    
}